body{
    font-family:Arial,sans-serif;
    background-color: rgb(228, 226, 223);
}

h1{
    color:rgb(115, 115, 255);
}

form{
    background-color: white;
    text-align:center;
    max-width: 350px;
    margin:auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(181, 154, 154);
}

#textBox{
    width:50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: aquamarine;
    color:black;
    font-size: medium;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor:pointer;
    transform: translate(0px,7px);
}
button:hover{
    background-color: aqua;
}

#result{
    font-size:1.75em;
    font-weight: bold;
}