body{
    margin:0px;
background-color: rgb(203, 226, 248);


}
main{
    margin:20px;
    
}

h1{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5px;
    margin-top:5px;
    font-weight:bold;
    font-family: Georgia;
    color:rgb(37, 124, 43);
    cursor:default;
}
h3{
    text-align: center;
    font-size:2rem;
    color:rgb(13, 2, 58);
    font-weight:bold;
    cursor: default;
    
}
.navbar ul{
    list-style-type:none;
    background-color: rgb(0, 0, 0);
    padding:0px;
    margin:0px;
    overflow: hidden;
    display: flex;            /* Turns on Flexbox */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically */
  height: 100%;             /* Ensures list takes up nav height */
  list-style: none;         /* Removes bullet points */
  margin: 0;
  padding: 0;
  font-family: Arial;
  border-radius: 3px;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding:15px;
    display:block;
    text-align:center;
    border:auto;
    color:grey; 
    border-radius:5px;

}
.navbar a:hover{
    background-color:brown;
    color:white;

}
.navbar li{
    float:right;
}

#img1{
    width:10rem;
    height: 10rem;
    border-radius:10px;
    border:solid 2px black;
    }

#p1{
    text-align:center;
    background-color: bisque;
    padding:0 4px;
    border-radius:2px;
    font-family:Cambria;
    font-size:x-large;
    cursor: default;

}
.buttons{
    padding: 5px 5px 5px 5px;
    border:none;
    border-radius: 5px;
    width: 8rem;
    height:3rem;
    font-size: larger;
    color: rgb(255, 255, 255) ;
    background-color: green;
    transition: all ease 0.2s;
}

.buttons:hover{
    color: rgb(0, 0, 0) ;
    background-color: rgb(131, 207, 131);
    transform: scale(1.1);
    transform: translate(0px,4px);
}
th,td,table{
    padding:12px;
    text-align: center;
    border:solid 3px ;
    border-radius: 4px;
    margin:0px;
    background-color: rgb(21, 138, 120);
}
td{
    background-color: rgb(93, 155, 75);
}
th{
    background-color: beige;
}
td:hover{
    background-color: azure;
    
}

#div3{
    display: flex;            /* Turns on Flexbox */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically */
  height: 100%;
}