body{
    font-family: Arial;
    font-weight:bold;
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
h1{
    font-size:3.5rem;
    
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius:90%;
    background-color: aquamarine;
    cursor: pointer;
    transition: all 0.5s ease;
}
.choices button:hover{
    background-color:rgb(197, 248, 231);
}
#playerDisplay, #computerDisplay{
    font-size:2.5rem;
}   
#resultDisplay{
    font-size: 5rem;
    margin:30px 0;

}

.redText{
    color:red;
}
.greenText{
    color:green;
}
.scoreDisplay{
    font-size:2rem;
    
}