body{
    display: flex;
    flex-direction: column;/*??*/
    align-items: center;
    background-color:aliceblue;

}

#myH1{
    font-size:4rem;
    font-family:"Arial", sans-serif;
  font-weight: bold;

    /*gradient color*/
  background: linear-gradient(90deg, #be02ae, #00f2fe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;


  cursor: default;

}

#container{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding:30px;
    transition:all ease 0.3s ;
}
#container:hover{
    color:#8a8b82;
    background-color: rgb(194, 194, 252);
}
#display{
    font-size: 5rem;
    font-family:monospace;
    font-weight:bold;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 2px  hsl(0, 1%, 50%);
    margin-bottom:25px;
    cursor:default;
    transition:all ease 0.6s;
}
#display:hover{
    text-shadow: none;
      background: linear-gradient(90deg, #0014ac, #00c2cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border:none;
    border-radius: 10px ;
    cursor: pointer;
    transition: all ease 0.3s;
}
#startBtn{
    color: rgb(9, 238, 66);
    background-color:green;
}
#stopBtn{
    color:rgb(255, 4, 4);
    background-color:rgb(107, 0, 0);
}
#resetBtn{
    color:aqua;
    background-color:blue;
}

#startBtn:hover{
    color:rgb(255, 249, 249);
    background-color: rgb(86, 192, 15);
    transform: scale(1.1);
}
#stopBtn:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(177, 0, 0);
    transform: scale(1.1);

}
#resetBtn:hover{
    color:rgb(11, 41, 205);
    background-color:rgb(134, 223, 255);
    transform: scale(1.1);

}